@section Scripts
{
    <script >
    function myFunc(){
             
                    alert("sa")
                    $(".bum").css("background-color", "yellow")
             
            }
    </script>
}

<div class="container p-5">
    <div class="row justify-content-center">
        <h3 class="">The US Could Soon Ban the Selling of Carrier-Locked Phones</h3>
    </div>
    <div class="row mt-3">
        <p>Sometimes, even when you own a device, you’re still not fully in control of it. Buy a smartphone from one of the big US carriers, and it typically comes locked to that carrier’s network. If you want to take that phone and use it on a different carrier’s network, the process of making that happen can be a real pain. Carriers in the US are required to let you switch networks, and each carrier has its own protocol for “unlocking” your phone to make that possible. Some processes are more cumbersome than others, but in almost all cases, it’s a big annoyance. Luckily, it’s an annoyance that may soon be rendered obsolete. Locking phones was also common in the UK until very recently. But in late October, UK communications regulator Ofcom announced a ban on locked phones, set to take effect by 2021. The United Kingdom joins countries like Singapore and Canada that have also forbidden the practice of selling locked phones. This step is a win for consumer advocates, who have long contended that mobile devices should come unlocked by default. They argue that selling phones unlocked makes it far easier for consumers to switch networks, resell their phones, or even just give them to someone else.</p>
    </div>
    <div class="row mt-4">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn border border-dark">
                <input type="radio" name="A" class="bum" autocomplete="off" onclick="myFunc()"> Active
            </label>
        </div>
    </div>
</div>