<div class="AuthPage container px-5  w-25">

    <h3 class="font-weight-bold  px-5 pb-4 pt-4 align-middle text-md-center">KULLANICI GİRİŞ</h3>
    <form action="">
        <div class="form-group pt-3 ">
            <input type="text"  class="form-control border-dark" placeholder="Kullanıcı Adı">
        </div>
        <div class="form-group">
            <input type="password" class="form-control border-dark" placeholder="Şifre">
        </div>
        <button type="submit" class="btn float-right font-weight-bold pb-5">GİRİŞ YAP</button>
    </form>
</div>